<h1 style = "text-align:center; background-color:black; color:white">Welcome to the Student Selector</h1>
<%= link_to 'Users', controller: 'users' %>
<%= link_to 'New User', new_user_path %>
<h3>By:</h3>
<p style = "color:blue">Matt Steinwachs<br>Trevor Schwertfeger</p>
