// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#warning_text {
  color:red;
}

#random_student_selector {
  font-size: 20px;
}

.select_n_at_random{
  font-size: 18px;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

#buttons {
  margin-bottom: 10px;
  text-align: right;
  vertical-align: middle;
}

#answer {
  height: 80px;
  width: 160px;
  display: inline; 
}

#pass{
  height: 80px;
  width: 160px;
  display: inline;
}

#absent {
  height: 80px;
  width: 160px;
  display: inline;
}

#note {
  height: 80px;
  width: 160px;
  display: inline;
}

#student_input{
  visibility: hidden;
  border-style: solid;
  border-color: #333;
  position: relative;
  padding-bottom: 10px;
  padding-left: 5px;
}

.student_selector{
  border-style:solid;
  border-color:#333;
  //padding:5px;
  margin: 5px;
  padding-bottom: 10px;  
}

.selected_student_name_class{
  visibility: hidden;
  font-weight: bold;
  font-size: x-large;
  color: black;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  top: 30%;
}

.selected_student_sid_class{
  visibility: hidden;
  font-size: large;
  font-family: 'Nunito', sans-serif;
}

.selected_student_note_class{
  visibility: hidden;
  font-size: large;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  top: 45%;
  word-wrap: break-word;
  width: 43%;
}

.selector_button{
  color: white;
  font-weight: bold;
}
.student_selector_title{
  margin: 0px;
  text-align: left;
  padding: 5px;
  background-color:#333;
  color:red
}
//Taken from pure
//http://yui.yahooapis.com/pure/0.5.0/pure-min.css

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: white;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
