// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#warning_text {
  color:red;
}


#toggle_student_list {
  font-size: large;
}

#next_round_message{
  font-size: 25px;
  padding: 1%;
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: #333;
  text-align: center;
}


.course_link {
  font-size: large;
  padding-pottom: 20px;
}


#select_n {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}

.select_n_at_random{
  font-size: 25px;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.buttons {
  padding: 0.5%;
  vertical-align: middle;
}

.my_btn {
  font-size: large !important;
  width: 50%;
  height: 100%;
  display: inline; 
}

.student_input{
  //visibility: hidden;
  border-style: solid;
  border-color: #333;
  position: relative;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}


.student_selector{
  border-style:solid;
  border-color:#333;
  margin: 5px;
  padding-bottom: 10px;  
}

.selected_student_name_class{
  //visibility: hidden;
  font-weight: bold;
  font-size: 25px;
  color: black;
  font-family: 'Nunito', sans-serif;
  margin-top: 1.5%;
  margin-left: 0.5%;
}

.button_group {
  //display: inline-block;
  height: 50px;
  width: 100%;
}

.selected_student_note_class{
  visibility: hidden;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  word-wrap: break-word;
  margin-left: 0.5%;
}

.selector_button{
  color: white;
  font-weight: bold;
}
.student_selector_title{
  margin: 0px;
  text-align: left;
  padding: 5px;
  background-color:#333;
  color:red
}
//Taken from pure
//http://yui.yahooapis.com/pure/0.5.0/pure-min.css

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: white;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
