// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_course{
  border-style:solid;
  padding:5px;
  margin: 5px;
}

#list_course{
  border-style:solid;
  padding:5px;
  margin: 5px;
}

.course{
  border-style:solid;
  padding:5px;
  margin: 5px;
}