// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_course{
  border-style:solid;
  padding:5px;
  margin: 5px;
}

#list_course{
  border-style:solid;
  padding:5px;
  margin: 5px;
}

.course{
  border-style:solid;
  border-color:#333;
  //padding:5px;
  margin: 5px;
}

#box_title {
  margin: 0px;
  text-align: left;
  padding: 5px;
  background-color:#333;
  color:white
}

#box_content {
  padding: 5px;
}